import React from 'react';

import styles from './style.module.scss';

type Props = {};

export const {{pascalCase name}} = React.memo(({}: Props) => {
  return (
    <div className={styles. {{snakeCase name}} }></div>
  );
});
