// colors
$black: #000000;
$gray: #E5E5E5;
$darkGray: #B2B2B2;
$white: #FFFFFF;
$yellow: #FFC700;
$orange: #FB5B01;
$red: #EC0000;
$green: #00C862;
$darkGreen: #009B5B;
$blue: #0877D7;
$lightBlue: #01B7D6;

// responsive
$breakpoint: (
  sp: 'screen and (max-width: 991px)',
);
@mixin media($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
