@use '@/variables' as var;

html, body {
  overflow: hidden;
  user-select: none;
}

.main {
  font-family: 'Noto Sans', sans-serif;
  color: var.$black;
  touch-action: pan-x pan-y;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
